# deps
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/

# production
build
dist

# misc
.DS_Store
*.pem
.vercel
*.tsbuildinfo
next-env.d.ts

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env
.env
.env*.local

# prisma
prisma/dev.db
prisma/dev.db-journal

.vercel
